/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.35);
    /* background: linear-gradient(135deg, #2d8cf173, #f210674a); */
   
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #2d8cf173, #f210674a);
    /* background: whitesmoke; */
    color: #000000;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

header .header-details {
    flex: 1;
    margin-right: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #000000;
}

header .profile-image {
    flex-shrink: 0;
    width: 180px;
    height: 180px;
    border-radius: 10%;
    overflow: hidden;
    border: 2px solid #000000;
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.3);
    
}

header .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

header .contact a {
    color: #0a566f;
    text-decoration: none;
}

header p{
    color: #000000;
}

header .contact a:hover {
    text-decoration: underline;
}

/* Section Styles */
section {
    margin-bottom: 20px;
}

section h3 {
    color: #000000;
    border-bottom: 2px solid #331257;
    /* display: inline-block; */
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 1.5rem;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}


.project>ul{
    margin-left: 30px;
}
.work-exp>ul{
    margin-left: 30px;
}

h4>span{
    margin: 10px;
    font-weight: 100;
    font-style: italic;
}

.certificates{
    font-style: italic;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header .header-details {
        margin-right: 0;
        text-align: center;
    }

    header .profile-image {
        margin-bottom: 20px;
        height: 80px;
        width: 80px;
    }

    
    
}